# Python
__pycache__/
*.pyc
.env
runs/
hidden/

# Poetry
poetry.lock
pyproject.toml
nixpacks.toml

# Week 9 제외 항목
week9-api-deployment/.venv/
week9-api-deployment/.env
week9-api-deployment/__pycache__/